<form action="/login" method="POST" class="d-flex justify-content-center">
    <div style="max-width: 300px;">
        <div class="form-check">
           <INPUT TYPE='submit' value='Salir' class="btn btn-primary" name='Salir' onClick='return confirmSubmit()'>
        </div>
    </div>
</form>