<body style="background-image: url(img/fondoblackjack.jpg); background-size: cover;">
    
<h1 class="entradaepica"> Elija su sala de juego</h1>
<div class="grid-container">

    <form class="sala1" action="sala1" method="POST">
    <h4 style="font-weight:700; color:white; grid-column:1; grid-row:2/3; align-self:end; justify-self:center;"> Clase Baja </h4>
    <button class="boton">Sala 1 (10$) </button>
    </form>

    <form class="sala2" action="sala2" method="POST">
    <h4 style="font-weight:700; color:yellow; grid-column:2; grid-row:2/3; align-self:end;"> Clase Media </h4>
    <button class="boton">Sala 2 (50$) </button>
    </form>

    <form class="sala3" action="sala3" method="POST">
    <h4 style="font-weight:700; color:lime; grid-column:3; grid-row:2/3; align-self:end;"> $$Ricos$$ </h4>
    <button class="boton">Sala 3 (100$)</button>
    </form>
</div>
</body>