<body style="background-image: url(img/fondoinicio2.jpg); background-size: cover;">
<div class="gridinicio">

<form style="grid-row:2 / span 2; grid-column:1/span 3; justify-self:center; background-color:rgba(0,0,0,0.3); border-style:solid; border-color:rgb(37, 9, 48);" action="/BlackJack" method="POST">
    <button type="submit"class="btn btn-dark mb-2">BlackJack</button>
    <img class="menem" src="img/Blackdeljack.png">
</form>

<form style="grid-row:2 / span 2; grid-column:3/span 3; justify-self:center; background-color:rgba(0,0,0,0.3); border-style:solid; border-color:rgb(37, 9, 48);"  action="/Ruleta" method="POST">
    <button type="submit" class="btn btn-danger mb-2" >Ruleta</button>
    <img class="menem" src="img/Ruleta.png">
</form>

<form style="grid-row:2 / span 2; grid-column:5/span 3; justify-self:center; background-color:rgba(0,0,0,0.3); border-style:solid; border-color:rgb(37, 9, 48);" action="/mercado" method="POST">
    <button type="submit" class="btn btn-success mb-2" >Mercado</button>
    <img class="menem" src="img/Tienda.png">
</form>
    
<h2 class="entradaepica" style="color:rgb(247, 247, 247); grid-row:1; grid-column:2 / span 3; font-weight: bold; justify-content: center; text-align: center;" > Bienvenido {{usuario.0.nombre}} </h1>
<h2 class="entradaepica" style="color:rgb(255, 255, 255); grid-row:1; grid-column:4 / span 3; font-weight: bold; justify-content: center; text-align: center;" > Utilice la barra superior para navegar</h2>


<div>

</body>
